.likes-heart {
  opacity: 0;
  transition: all 0.5s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(5);
          transform: translateX(-50%) translateY(-50%) scale(5);
  display: block;
}
.likes-heart.like-enter {
  transition: all 0.2s;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}
.likes-heart.like-enter.like-enter-active {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(5);
          transform: translateX(-50%) translateY(-50%) scale(5);
}
.likes-heart .like-leave-active {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
@import url("https://fonts.googleapis.com/css?family=Nunito");
html {
  font-size: 12px;
  font-family: sans-serif;
}
body {
  font-family: Nunito;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}
h1 {
  font-family: Futura;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-weight: 100;
  font-size: 4rem;
  margin: 2rem 0;
  letter-spacing: -1px;
}
h1 a {
  color: #fff;
  text-decoration: none;
}
h1 a:focus {
  outline: 0;
}
h2 {
  font-size: 2.5em;
  padding: 0 1em;
}
* {
  text-decoration: none;
}
body {
  background: #2993fc;
  color: #fff;
}
.fullscreen {
  background-color: #2993fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner {
  padding: 1em 0;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: #fff;
  font-size: 2em;
  background: #2993fc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
button,
.button {
  transition: all 0.2s;
  width: 100%;
  border: 2px solid #fff;
  padding: 0.75em 1em;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  border: 2px solid #fff;
  background-color: #fff;
  color: #2993fc;
  outline: 0;
}
button:active,
.button:active {
  background-color: rgba(255,255,255,0.75);
}
.button--big {
  font-size: 2em;
  display: block;
  margin: 2em 0;
}
.button--inline {
  display: inline;
  width: 30%;
  margin: 2em 1em;
}
.sun {
  position: absolute;
  z-index: 20;
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 30px;
}
.sun img {
  max-width: 100%;
}
.sun--top {
  top: -100px;
  right: -100px;
}
.sun--bottom {
  bottom: -110px;
  left: -110px;
}
.chat {
  background-color: #fff;
}
.chat .banner {
  background-color: #fff;
  border-color: #d3d3d3;
  color: #2993fc;
}
.chat .fullscreen {
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.chat__fullscreen {
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 11em 0em 7em 0em;
}
.chat__message {
  font-size: 1.5em;
  margin: 1.5em;
  padding: 1em;
  border-radius: 10px;
}
.chat__icon {
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  display: inline-block;
}
.chat__user {
  position: relative;
  top: -25px;
  width: auto;
  display: inline-block;
  margin-left: 1em;
}
.chat__user-name {
  font-size: 1.2em;
}
.chat__users {
  text-align: center;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  color: #fff;
  background: #fff;
  position: fixed;
  top: 66px;
  width: 100%;
  z-index: 10;
}
.chat__users .chat__icon {
  background-color: rgba(0,0,0,0.2);
  margin: 0.5em 1em 1em;
  color: #fff;
  font-weight: bold;
  padding-top: 20px;
}
.chatbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0em 0em;
  background-color: #fff;
  border-top: 1px solid #d3d3d3;
}
.chatbox input {
  font-size: 2em;
  width: 75%;
  display: inline;
  background-color: #fafafa;
  border: 0;
  padding: 0.5em;
  outline: 0;
}
.chatbox button {
  font-size: 2em;
  width: 25%;
  display: inline;
  border: 0;
  padding: 0.5em;
  background-color: #808080;
  border-radius: 0;
}
.chatbox button:hover,
.chatbox button:active,
.chatbox button:focus {
  background-color: #2993fc;
  color: #fff;
}
.bg--blue {
  background-color: #2993fc !important;
}
.bg--red {
  background-color: #fd5e60 !important;
}
.bg--orange {
  background-color: #fd8b34 !important;
}
.bg--green {
  background-color: #008000 !important;
}
.bg--gray {
  background-color: #eee;
  color: #2993fc;
}
.survey__buttons {
  max-width: 500px;
  margin: 0 auto;
}
.width80 {
  width: 80%;
}
.maxWidth500 {
  max-width: 600px;
  margin: 0 auto;
}
