// Import all partials
@require './_*.styl'

*
  text-decoration none

body
  background blue
  color white

.fullscreen
  background-color blue
  display flex
  align-items center
  justify-content center
  // flex center
  height 100%
  width 100%
  position absolute
  top 0
  bottom 0
  left 0
  right 0

.banner
  padding 1em 0
  border-bottom 1px solid rgba(255,255,255,0.5)
  color white
  font-size 2em
  background blue
  position fixed
  top 0
  width 100%
  z-index 10

button, .button
  transition all 0.2s
  width 100%
  border 2px solid white
  padding 0.75em 1em
  border-radius 5px
  color white
  background-color transparent
  &:hover, &:focus
    border 2px solid white
    background-color white
    color blue
    outline 0
  &:active
    background-color rgba(255,255,255,0.75)

.button--big
  font-size 2em
  display block
  margin 2em 0

.button--inline
  display inline
  width 30%
  margin 2em 1em


.sun
  position absolute
  z-index 20
  background-color white
  width 300px
  height 300px
  border-radius 50%
  padding 30px

  img
    max-width 100%

.sun--top
  top: -100px
  right -100px

.sun--bottom
  bottom: -110px
  left -110px


.chat
  background-color white

.chat .banner
  background-color white
  border-color lightgray
  color blue

.chat .fullscreen
  background-color white
  flex none

.chat__fullscreen
  background-color white
  height 100%
  min-height 100%
  width 100%
  padding 11em 0em 7em 0em

.chat__message
  // transition all 2s ease-in-out
  font-size 1.5em
  margin 1.5em
  padding 1em
  border-radius 10px

.chat__icon
  border-radius 50%
  background-color white
  width 60px
  height 60px
  overflow hidden
  position relative
  margin-bottom 1em
  display inline-block

.chat__user
  position relative
  top -25px
  width auto
  display inline-block
  margin-left 1em

.chat__user-name
  font-size 1.2em
  // font-weight bold

.chat__users
  text-align center
  padding 0
  border-bottom 1px solid rgba(0,0,0,0.2)
  color white
  // font-size 2em
  background white
  position fixed
  top 66px
  width 100%
  z-index 10

  .chat__icon
    background-color rgba(0,0,0,0.2)
    margin 0.5em 1em 1em
    color white
    font-weight bold
    padding-top 20px
    // display flex
    // align-items center
    // justify-content center


.chatbox
  position fixed
  bottom 0
  width 100%
  padding 0em 0em
  background-color white
  border-top 1px solid lightgray

  input
    font-size 2em
    width 75%
    display inline
    background-color #fafafa
    border 0
    padding 0.5em
    outline 0

  button
    font-size 2em
    width 25%
    display inline
    border 0
    padding 0.5em
    background-color gray
    // border-color blue
    border-radius 0
    &:hover, &:active, &:focus
      background-color blue
      color white


.bg--blue
  background-color blue !important

.bg--red
  background-color red !important

.bg--orange
  background-color orange !important

.bg--green
  background-color green !important


.survey__buttons
  // width 80%
  max-width 500px
  margin 0 auto

.width80
  width 80%

.maxWidth500
  max-width 600px
  margin 0 auto


// .photo-grid
//   display flex
//   flex-wrap wrap
//   max-width 1200px
//   margin 0 auto
//
// .grid-figure
//   flex-basis calc(33.333% - 4rem)
//   flex-grow 1
//   flex-shrink 0
//   margin 0 2rem 2rem 2rem
//   padding 2rem
//   border 1px solid lightgray
//   background white
//   box-shadow 0 0 0 5px rgba(0,0,0,0.03);
//   position relative
//
// .single-photo
//   @extend .grid-figure
//   max-width 900px
//   margin 0 auto
//   display flex
//   background white
//   .grid-figure
//     box-shadow none
//     margin 0 2rem 0 0
//     border 0
//     padding 0
//     flex 1 0 60%
//     max-width 60%
//   .comments
//     flex 1 0 40%
//     max-width 40%
//   .grid-photo
//     width 100%
//     margin 0
//
// .grid-photo
//   width calc(100% + 4rem)
//   margin-left -2rem
//   margin-top -2rem
//   max-width none
//
// // Comments
// .remove-comment
//   background none
//   border 0
//   line-height 1
//   opacity 0
//   &:hover
//     color red
//
// .comment
//   border-bottom 1px solid lightgrey
//   padding 0.5rem 0
//   p
//     font-size 1.2rem
//     margin 0
//   strong
//     color blue
//     margin-right 5px
//   &:hover
//     .remove-comment
//       opacity 1
//
// .comment-form
//   input, textarea
//     width 100%
//     border 0
//     font-size 1.3rem
//     padding 1rem 0
//     border-bottom 1px solid lightgrey
//     outline none
//     resize vertical
//
//
// .grid-photo-wrap
//   position relative
//
// .likes-heart
//   background url(http://f.cl.ly/items/3Y373q2Q3J3Y1j203n0m/Bitmap-3.png) center no-repeat
//   background-size contain
//   font-size 2rem
//   padding 1rem
//   position absolute
//   color blue
//   left 50%
//   top 50%
//   pointer-events none
//
//
// /*
//   Buttons
// */
//
// .control-buttons
//   display flex
//   justify-content space-between
//
// // button, .button
// //   border 2px solid lighten(grey, 90%)
// //   background none
// //   flex-basis 48%
// //   display inline-block
// //   line-height 2
// //   text-decoration none
// //   padding 5px
// //   text-align center
// //   font-size 15px
// //   color blue
// //   transition all 0.2s
// //   box-sizing padding-box
// //
//
// /*
//   Cowboy style speech bubble - you should probably use an SVG for this if you are doing more icons.
// */
// .speech-bubble
//   size = 1.25rem
//   width size * 1.2
//   height size
//   background blue
//   display inline-block
//   border-radius 50%
//   position relative
//   &:after
//     display inline-block
//     position absolute
//     content ''
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-width: 0 size size 0
//     border-color: transparent blue transparent transparent
//     top 30%
//     left 0
